:root{
    --color-gray:#F1F1F1;
    --color-black:#242424;
    --color-white:#FFFFFF;
    --color-light:rgba(255, 255, 255, 0.67);
    --space: 6rem;

    --semibold: 600;
    --medium: 500;
    --light: 300;
}
img{
    max-width: 100%;
}

html{
    font-size: 62.5%;
}
@media only screen and (max-width:767px){
    html{
        font-size: 52.5%;
    }
}
html, body{
    scroll-behavior: smooth;
}
body{
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    width: 100%;
    overflow-x: hidden;
}
/* default */

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1450px;
    }
}
.g-5, .gy-5 {
    --bs-gutter-y: 4rem;
}
.g-5, .gx-5 {
    --bs-gutter-x: 4rem;
}

.space{
    padding: var(--space) 0;
}
.space-top{
    padding-top: var(--space);
}
.space-bottom{
    padding-bottom: var(--space);
}

.cta{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   border: #fff solid 1px;
   border-radius: 50px;
   text-decoration: none;
   transition: all .15s ease;
   padding: 1rem 2rem;
   line-height: 1.4;
   text-transform: uppercase;
}

.cta:hover{
   background-color: #fff;
   color: var(--color-black);
}
.cta:hover img{
    filter: brightness(0);
}

.heading h2{
    font-size: 6rem;
    color: var(--color-white);
    font-weight: 500;
}
.heading p{
    color: var(--color-light);
    font-weight: var(--medium);
    font-size: 2.4rem;
}

/* Site header */
.bg-body-tertiary{
    background-color: #000!important;
    border-bottom: var(--color-light) solid 1px;
    padding: 2rem 0;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        gap: 77px;
        align-items: center;
    }
}
.navbar-brand img{
    width: 26rem;
}
.nav-link{
    color: var(--color-light);
    font-size: 1.6rem;
    font-weight: var(--medium);
}
.nav-link.active{
    color: var(--color-light)!important;
}
.nav-link:hover{
 color: var(--color-white)!important;
}
.nav-cta{
    background-color: var(--color-white);
    color: var(--color-black);
    width: 20.11rem;
    height: 5.4rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.nav-cta:hover{
    background-color: var(--color-gray);
    color: var(--color-black)!important;
}
/* Hero Section */
.hero{
    background: url(../images/hero.jpg) left top no-repeat;
    color: var(--color-white);
    background-size: cover;
    padding: 10rem 0;
}
.hero .heading h2{
    margin-bottom: 2.5rem;
}
.hero .heading p{
    margin-bottom: 7.2rem;
    font-weight: var(--light);
    font-size: 2rem;
}
.hero .cta-box{
    background-color: rgba(36, 36, 36, 0.455);
    border-radius: 2.6rem;
    display: inline-block;
    padding: 2rem;
}
/* Hire us */
.hire-us{
    backdrop-filter: blur(8px); /* Amount of blur */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  
  /* Optional styles for overlay */
  background-color: rgba(255, 255, 255, 0.3); 
  border: rgba(255, 255, 255, 0.400) solid 1px;
  padding: 3rem;
  border-radius: 3rem;
  margin: 0 2rem;
  margin-top: 7.9rem;
}

.hire-us .title{
    font-size: 2.4rem;
    font-weight: var(--medium);
    text-align: center;
    margin-bottom: 3.4rem;
}
.hire-us .box{
    background-color: var(--color-black);
    border-radius: 2.4rem;
    padding: 2.8rem;
    height: 100%;
}
.hire-us .box h3{
    font-weight: var(--semibold);
    font-size: 2.7rem;
}
.hire-us .box p{
    margin-bottom: 0px;
    font-size: 1.7rem;
    font-weight: var(--light);
}
.hire-us .box img{
    width: 5.5rem;
    margin-bottom: 1rem;
}

/* About us */
.about .heading{
    margin-bottom: 7.7rem;
}
.about .heading h2, .about .heading p{
    color: var(--color-black);
}
.about .one{
    border: var(--color-gray) solid 1px;
}
.about article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3.4rem;
    border-radius: 2.6rem;
    height: 100%;
}
.about article.one p{
    color: var(--color-black);
}
.about article.two{
    padding: 0px;
}
.about article.three{
    background-color: #191A1A;
    color: var(--color-gray);
}
.about article.four{
    background-color: #262B2B;
    color: var(--color-gray);
}
.about article h3{
    font-size: 3.2rem;
    font-weight: var(--medium);
}
.about article p{
    margin-bottom: 0px;
    font-size: 2rem;
    color: var(--color-gray);
}

/* Empower */
.empower{
    background-color: #F1F1F1;
}
.empower h2{
    font-size: 3.6rem;
    font-weight: var(--semibold);
    color: var(--color-black);
    margin-bottom: 0px;
}
.empower p{
    font-size: 2rem;
    font-weight: var(--light);
    margin-bottom: 0px;
}

/* services */
.services .heading{
   margin-bottom: 8rem; 
}
.services .heading h2, .services .heading p{
    color: var(--color-black);
}
.services article{
    border: var(--color-gray) solid 1px;
    padding: 2.5rem;
    border-radius: 2.4rem;
    height: 100%;
    transition: all .25s ease;
}
.services article img{
    width: 7.9rem;
    margin-bottom: 3rem;
}
.services article h3{
    font-size: 2.8rem;
    font-weight: var(--medium);
}
.services article p{
    font-size: 1.7rem;
    color: #797979;
    margin-bottom: 0px;
}
.services article:hover{
    background-color: var(--color-black);
}
.services article:hover h3{
    color: #fff;
}
.services article:hover p{
    color: rgb(255, 255, 255, 67%);
}
.services article:hover img{
    filter: invert(100%) brightness(200%);
}